.card {
  box-shadow: $listShadow;
  padding: var(--space);
  border: none !important;
  min-height: 110px;
  .card-body {
    padding: 0px var(--space);
  }
  img {
    width: 100%;
    height: auto;
  }
}

.card.card-list {
  flex-direction: row;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.f-s-10 {
  font-size: 10px;
}
